<!DOCTYPE html>
<html>
    <%- include('../partials/head') %> 
<body>
    <nav>
        <a href="/players/new">Add New player</a>
        <a href="/teams">Back to Team</a>
    </nav>
    <h1>FootBall Players</h1>
    <main>
        <% players.forEach(player =>  { %>
            <section>
                <a href="/players/<%=player._id%>"><%=player.name%></a>
            </section>
       <% }) %>
    </main>
</body>
</html>