<!DOCTYPE html>
<html>
    <%- include('../partials/head') %> 
<body>
    <nav>
        <a href="/teams/<%=teamId%>">Back to Teams</a>
    </nav>
    <h1>Add New Player</h1>
    <form class="form" action="/players" method="post">
        <input class="form" type="text" name="name" placeholder="Player Name">
        <input class="form" type="number" name="number" placeholder="Jersey Number">
        <input class="form" type="text" name="team" placeholder="Team">
        <input class="form" type="number" name="touchdowns" placeholder="Amount of Touchdowns">
        <input class="form" type="text" name="position" placeholder="Position">
        <input class="form" type="hidden" name="teamId" value="<%=teamId%>">
        <input class="submit" type="submit" value="SUBMIT">
    </form>
</body>
</html>