<!DOCTYPE html>
<html>
    <%- include('../partials/head') %> 
<body>
    <nav>
        <a href="/teams/new">Add New Team</a>
    </nav>
    <h1>Football Teams</h1>
    <main>
        <% teams.forEach(team =>  { %>
            <section>
                <a href="/teams/<%=team._id%>">
                    <img class="index" src="<%=team.img%>" alt="<%=team.name%>">
                </a>
            </section>
       <% }) %>
    </main>
</body>
</html>