<!DOCTYPE html>
<html>
    <%- include('../partials/head') %> 
<body>
    <nav>
        <a href="/teams">Back to Teams</a>
    </nav>
    <h1>Add New Team</h1>
    <form class="form" action="/teams" method="post">
        <input class="form" type="text" name="name" placeholder="Team Name">
        <input class="form" type="text" name="img" placeholder="Logo Img Link">
        <input class="form" type="text" name="record" placeholder="Team Record">
        <input class="form" type="text" name="conference" placeholder="Team Conference">
        <input class="form" type="text" name="division" placeholder="Team Division">
        <label> Playoffs:
            <input class="check" type="checkbox" name="playoffs" placeholder="playoffs">
        </label>
        <input class="submit" type="submit" value="SUBMIT">
    </form>
</body>
</html>