html, body {
    height: 100%;
    width: 100%;
}

body {
    background-image: url(../img/stadium.jpeg) ;
    background-size: contain;
    background-size: no-repeat;
    background-size: cover;
}

/* index*/

h1 {
    text-align: center;
    margin: 40px;
    text-transform: capitalize;
    font-size: 50px;
    color: white;
}
nav {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

a {
    font-size: 40px;
    color: black;
    height: 23px;
    width: 500px;
    text-transform: capitalize;
    color: white;
}

main {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

section {
    box-sizing: border-box;
}

img {
    height: 300px;
    width: 400px;
    margin: 40px;
}

/* show */

body.show {
    display: grid;
}

div.center {
    text-align: center;
}

p {
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px;
}

input.delete {
    height: 40px;
    width: 200px;
    font-size: 20px;
}

aside {
    position: absolute;
    top: 50%;
}

/* edit / new */

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input.form { 
    margin: 30px;
    height: 30px;
    width: 240px;
    text-align: center;
    font-size: 20px;
}

input.check {
    height: 15px;
    width: 15px;
}

label {
    color: white;
    font-size: 20px;
    margin: 20px;
}

input.submit {
    height: 40px;
    width: 200px;
    font-size: 20px;
    margin: 50px;
}

.space {
    padding: 20px;
}



